In [3]:
import pymongo
from pymongo import MongoClient
import pandas as pd
import re

In [4]:
client = pymongo.MongoClient('mongodb://localhost:27017/')

In [5]:
db = client['Northwind']
collection = db['employees']

In [6]:
pipeline=[
    {
        '$project':{
            'FirstName':1,
            'LastName':1,
            'Title':1,
            'BirthDate':1
        }
    }    
]

In [7]:
result = collection.aggregate(pipeline)

In [8]:
df = pd.DataFrame(list(result))

In [9]:
print(df)

                        _id   LastName FirstName                     Title
0  6496239aaf2764cbb4dd6651    Davolio     Nancy      Sales Representative  \
1  6496239aaf2764cbb4dd6652     Fuller    Andrew     Vice President. Sales
2  6496239aaf2764cbb4dd6653  Leverling     Janet      Sales Representative
3  6496239aaf2764cbb4dd6654    Peacock  Margaret      Sales Representative
4  6496239aaf2764cbb4dd6655   Buchanan    Steven             Sales Manager
5  6496239aaf2764cbb4dd6656     Suyama   Michael      Sales Representative
6  6496239aaf2764cbb4dd6657       King    Robert      Sales Representative
7  6496239aaf2764cbb4dd6658   Callahan     Laura  Inside Sales Coordinator
8  6496239aaf2764cbb4dd6659  Dodsworth      Anne      Sales Representative

                 BirthDate
0  1948-12-08 00:00:00.000
1  1952-02-19 00:00:00.000
2  1963-08-30 00:00:00.000
3  1937-09-19 00:00:00.000
4  1955-03-04 00:00:00.000
5  1963-07-02 00:00:00.000
6  1960-05-29 00:00:00.000
7  1958-01-09 00:00:00.000
8  1966-01-27 00:00:00.000