In [1]:
import pymongo
from pymongo import MongoClient
import pandas as pd

In [2]:
client = pymongo.MongoClient('mongodb://localhost:27017/')

In [4]:
db = client['Northwind']
collection = db['orders']

In [6]:
pipeline = [
    {
        '$match':{
            'EmployeeID':"5"
        }
    },
    {
        '$project':
        {
            'OrderID':1,
            'OrderDate':1
        }
    }
]

In [8]:
result = collection.aggregate(pipeline)

In [9]:
df=pd.DataFrame(list(result))

In [10]:
df = df[['OrderID','OrderDate']]

In [11]:
styles = [
    {'selector':'th.col_heading',
      'props':[('text-align', 'center')]}
]

In [12]:
styled_df = df.style.set_table_styles(styles)

In [13]:
styled_df