In [23]:
import pymongo
from pymongo import MongoClient
import pandas as pd
import re

In [24]:
client = pymongo.MongoClient('mongodb://localhost:27017/')

In [25]:
db = client['Northwind']
collection = db['orders']

In [26]:
pipeline=[
            {
                '$match': {
                    'ShipCountry': {
                        '$in': [
                            'Brazil', 'Mexico', 'Argentina', 'Venezuela'
                        ]
                    }
                }
            }, {
                '$project': {
                    'OrderID': 1, 
                    'CustomerID': 1, 
                    'ShipCountry': 1
                }
            }
         ]

In [27]:
result = collection.aggregate(pipeline)

In [28]:
df = pd.DataFrame(result)

In [29]:
print(df)

                          _id  OrderID CustomerID ShipCountry
0    648225acf08463a075d5160e    10250      HANAR      Brazil
1    648225acf08463a075d51611    10253      HANAR      Brazil
2    648225acf08463a075d51614    10256      WELLI      Brazil
3    648225acf08463a075d51615    10257      HILAA   Venezuela
4    648225acf08463a075d51617    10259      CENTC      Mexico
..                        ...      ...        ...         ...
168  648225acf08463a075d5193d    11065      LILAS   Venezuela
169  648225acf08463a075d51940    11068      QUEEN      Brazil
170  648225acf08463a075d51941    11069      TORTU      Mexico
171  648225acf08463a075d51943    11071      LILAS   Venezuela
172  648225acf08463a075d51945    11073      PERIC      Mexico

[173 rows x 4 columns]