In [1]:
import pymongo
from pymongo import MongoClient
import pandas as pd

In [2]:
client = pymongo.MongoClient('mongodb://localhost:27017/')

In [37]:
db = client['Northwind']
collection = db['employees']

In [38]:
pipeline = [
        {
            '$match':{
                'Title':'Sales Representative'
            }
        },
        {
            '$project':{
                'LastName':1,
                'FirstName':1,
                'HireDate':1
            }
        }
]

In [39]:
result = collection.aggregate(pipeline)

In [40]:
df = pd.DataFrame(list(result))

In [41]:
df = df[['FirstName', 'LastName', 'HireDate']]

In [42]:
styles = [
    {'selector': 'th.col_heading',
     'props': [('text-align', 'center')]}
]

In [48]:
styled_df = df.style.set_table_styles(styles)

In [49]:
styled_df

In [50]:
print(df)

  FirstName   LastName                 HireDate
0     Nancy    Davolio  1992-05-01 00:00:00.000
1     Janet  Leverling  1992-04-01 00:00:00.000
2  Margaret    Peacock  1993-05-03 00:00:00.000
3   Michael     Suyama  1993-10-17 00:00:00.000
4    Robert       King  1994-01-02 00:00:00.000
5      Anne  Dodsworth  1994-11-15 00:00:00.000